@model CitiesViewModel
@{
    ViewData["Title"] = "Cities";
}

<h1>@ViewData["Title"]</h1>

<p>Total: @Model.Cities.Count()</p>

<ul>
    @foreach (var city in Model.Cities)
    {
        <li>@city.City <span style="color: #ccc">(@city.Lat,@city.Lon)</span></li>
    }
</ul>