<!DOCTYPE html>
<html>
<head>
    <partial name="_MetaPartial" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <title>@ViewData["Title"] - DataDrivenDiversity</title>

    <!-- <link href="https://unpkg.com/nes.css@0.0.2/css/nes.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="./assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="~/assets/css/dashboard.css" rel="stylesheet" />
    <script src="~/assets/js/dashboard.js"></script>
</head>
<body>
    <div id="content">
        <nav class="container with-title is-center">
            <label class="title">Navigation</label>
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Meetup List</a></li>
                <li><a asp-action="Index" asp-controller="Categories">Categories</a></li>
                <li><a asp-action="Index" asp-controller="Cities">Cities</a></li>
            </ul>
        </nav>

        <main class="container with-title">
            @RenderBody()
        </main>
    </div>
    
    <hr />
    <footer>
        <p>&copy; 2018 - DataDrivenDiversity</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
